@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    height: 100%;
    user-select: none;
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: black;
}

.app {
    width: 100%;
    max-width: 520px;
    background-color: gray;
    position: relative;
    overflow: hidden;
    transition: 0.3s opacity;
}

.fade {
    opacity: 0;
}

.swipe-controller__cards-container {
    position: absolute;
    height: 150px;
    bottom: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 32px;
    gap: 1rem;
}

.main-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-text-content {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 35%;
}
.main-title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    height: auto;
    padding: 1rem;
    color: white;
}
.main-message {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    height: auto;
    padding: 0 1rem 1rem 1rem;
    color: white;
    line-height: 1.2;
}

.swipe-card {
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 1rem;
    position: relative;
    width: 100%;
    min-width: 120px;
    max-width: 150px;
    padding: 1rem;
    height: 150px;
    transition:
        0.3s transform,
        0.3s box-shadow,
        0.3s opacity;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(20, 20, 20, 1);
    color: white;
}
.card-title {
    text-align: center;
    height: auto;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.card-message {
    text-align: center;
    height: auto;
    font-size: 0.75rem;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.card-effect-message {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 1rem;
    font-size: 0.75rem;
    text-align: center;
}

.top-menu {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}
.top-menu__element {
    height: 2rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    font-size: 0.75rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
